.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container.iO {
  z-index: 100;
}
/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}
.main-nav .l-d {
  position: absolute;
  bottom: 0;
  right: 0;
}

.l-d {
  display: flex;
  flex-direction: row;
}
.l-d .lang {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 30px;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-d .lang .btnDropDw {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav.sticky .l-d .lang .btnDropDw {
  filter: invert(1);
}
.l-d .lang .btnDropDw p {
  margin: 0 5px;
  color: #fff;
}

.l-d .lang .list-lang-menu {
  position: absolute;
  top: -70px;
  right: -10px;
  background-color: #fff;
  display: inline;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.l-d .lang .list-lang-menu.activeTg {
  top: 40px;
  visibility: visible;
  opacity: 1;
}
.l-d .lang .list-lang-menu::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  right: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.l-d .lang .list-lang-menu ul {
  text-align: center;
}
.l-d .lang .list-lang-menu li {
  padding: 15px 20px;
  list-style: none;
}
.l-d .lang .list-lang-menu li:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.l-d .lang .list-lang-menu li:hover {
  background: #eff2f7;
}
.l-d .lang .list-lang-menu li a {
  color: #1a4bb7;
  font-weight: 500;
}

.btn-download {
  padding: 8px 38px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  margin-left: 15px;
  color: rgba(26, 75, 183, 1);
  font-weight: bold;
}























.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Band effect */
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: rgba(26, 75, 183, 1);
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;

}
.main-nav li {
  transition: all 0.2s linear;
  border-radius: 10px;
}
.main-nav a {
  display: block;
  padding: 20px;
  color: #ffffff;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s linear;
}

.main-nav.is-open li:hover,
.main-nav.is-open li:active {
  background: #fff;
  transform: translateY(-10px) skew(16deg);
  transition: all 0.2s linear;
}
.main-nav li:hover a {
  color: rgba(26, 75, 183, 1);
  transition: all 0.2s linear;
}

.open-main-nav {
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  display: none;
  margin-top: 18px;
}

.nav.sticky .open-main-nav {
  filter: invert(1);
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #ffffff;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #ffffff;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}
