@font-face {
  font-family: meey-medium;
  src: url(../fonts/FMeeyLand/Meeyland\ Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: meey-medium;
}
a {
  text-decoration: none;
}
section {
  padding: 100px;
}

#ss1,
#ss3,
#ss4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
#ss2,
#ss4 {
  background: rgba(239, 242, 247, 1);
}

/* BANNER---------------------------------------------------------- */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.banner .background-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/img-bn-t.svg);
  background-position: center;
  background-size: cover;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.banner .background-banner img {
  width: 120%;
  object-fit: cover;
}

/* nav */
.nav {
  padding: 20px 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1000;
}

.nav.sticky {
  padding: 5px 13vw;
  background-color: #eff2f7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.nav.sticky .logo h5 {
  filter: invert(1);
}
.nav.sticky #language p,
.nav.sticky #language .earth,
.nav.sticky #language .arrowLang {
  filter: invert(1);
}

.nav .logo {
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}
.nav .logo img {
  width: 49px;
}
.nav .logo h5 {
  margin-left: 20px;
  float: right;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
}
.nav.sticky h5 {
  margin-left: 5px;
}
.nav .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s;
}
.nav .nav-link ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s;
}
.nav .nav-link ul li {
  padding: 20px;
  margin-right: 5px;
  transition: all 0.5s;
  list-style: none;
}
.nav .nav-link ul li a {
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.nav.sticky .nav-link ul li {
  padding: 10px;
  transition: all 0.5s;
}
.nav.sticky .nav-link ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}

.nav #language-download {
  display: flex;
  flex-direction: row;
}
.nav #language-download .lang {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 30px;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav #language-download .lang .btnDropDw {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav.sticky #language-download .lang .btnDropDw {
  filter: invert(1);
}
.nav #language-download .lang .btnDropDw p {
  margin: 0 5px;
  color: #fff;
}

.nav #language-download .lang .list-lang-menu {
  position: absolute;
  top: 70px;
  right: -10px;
  background-color: #fff;
  display: inline;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.nav #language-download .lang .list-lang-menu.activeTg {
  top: 40px;
  visibility: visible;
  opacity: 1;
}
.nav #language-download .lang .list-lang-menu::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  right: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.nav #language-download .lang .list-lang-menu ul {
  text-align: center;
}
.nav #language-download .lang .list-lang-menu li {
  padding: 15px 20px;
  list-style: none;
}
.nav #language-download .lang .list-lang-menu li:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.nav #language-download .lang .list-lang-menu li:hover {
  background: #eff2f7;
}
.nav #language-download .lang .list-lang-menu li a {
  color: #1a4bb7;
  font-weight: 500;
}

.nav .btn-download {
  padding: 8px 38px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  margin-left: 15px;
  color: rgba(26, 75, 183, 1);
  font-weight: bold;
}
/* big-image*/
.banner .big-image-banner {
  position: absolute;
  height: 40%;
  right: 0;
  top: 5%;
  z-index: 2;
}
.banner .big-image-banner img {
  width: 100%;
  object-fit: cover;
}
/*  */
.banner .content-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px 13vw;
  height: 50%;
  color: #fff;
  width: 60%;
}
.banner .content-banner .introduce-banner {
  padding: 30px 0 20px 0;
}
.banner .content-banner .list-func-produce {
  padding-bottom: 20px;
}
.banner .content-banner .list-func-produce ul li {
  display: flex;
  align-items: center;
}
.banner .content-banner .list-func-produce ul li::before {
  content: "•";
  font-size: 40px;
  padding-right: 10px;
}

/* TINH NANG NOI BAT------------------------------------------------ */

#ss1 .main-content {
  width: 100%;
}
#ss1 .v-mobile {
  display: none;
}
#ss1 .main-content .col {
  width: 50%;
  height: 100%;
}
#ss1 .main-content .col-img {
  background: url(../img/img-welcome.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ss1 .main-content .col-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#ss1 .main-content .col-content .rw {
  width: 100%;
  height: 25%;
  border-radius: 10px 0px 0px 10px;
  position: relative;
}
#ss1 .main-content .col-content .rw:first-child {
  background: linear-gradient(
    90deg,
    rgba(207, 163, 82, 0.25) 0%,
    rgba(207, 163, 82, 0) 101.45%
  );
}
#ss1 .main-content .col-content .rw:first-child .rw-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(../img/ss1-share.svg);
  background-size: cover;
  background-position: center;
  top: -10%;
  left: -2%;
}
#ss1 .main-content .col-content .rw:nth-child(2) {
  background: linear-gradient(
    90deg,
    #d3dce6 0%,
    rgba(211, 220, 230, 0) 101.45%
  );
}
#ss1 .main-content .col-content .rw:nth-child(2) .rw-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(../img/ss1-mess.svg);
  background-size: cover;
  background-position: center;
  top: -10%;
  left: -2%;
}
#ss1 .main-content .col-content .rw:last-child {
  background: linear-gradient(
    90deg,
    #d3dce6 0%,
    rgba(211, 220, 230, 0) 101.45%
  );
}
#ss1 .main-content .col-content .rw:last-child .rw-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(../img/ss1-teamwork.svg);
  background-size: cover;
  background-position: center;
  top: -10%;
  left: -2%;
}
#ss1 .main-content .col-content .rw .rw-title,
#ss1 .main-content .col-content .rw p {
  width: 90%;
  padding-left: 50px;
}
#ss1 .main-content .col-content .rw .rw-title {
  padding-top: 15px;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #212353;
}
#ss1 .main-content .col-content .rw p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1c2433;
}
/* HOI THAO TRUC TUYEN--------------------------------------------- */
#ss2 {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ss2 .main-content-cus {
  width: 40%;
  height: 80%;
  background: linear-gradient(
    270deg,
    rgba(207, 163, 82, 0.25) 0%,
    rgba(207, 163, 82, 0) 101.45%
  );
  border-radius: 10px 0px 0px 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

#ss2 .main-content-cus .title,
#ss2 .main-content-cus .content {
  width: 75%;
  margin-left: 60px;
  padding-right: 10px;
}
#ss2 .main-content-cus .btn-more {
  width: 158px;
  margin-left: 60px;
  text-align: center;
  background-color: rgba(171, 136, 67, 1);
  border-radius: 8px;
}
#ss2 .main-content-cus .btn-more a {
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}
#ss2 .main-content-cus .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: linear-gradient(90deg, #293171 0.12%, #1d214a 99.23%);
  text-align: center;
  padding-top: 30px;
}

#ss2 .main-content-cus .content {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4b5d68;
  padding-top: 20px;
  padding-bottom: 10px;
}
#ss2 > .main-vid {
  width: 570px;
  height: 340px;
  background: url(../img/img-tt-vd.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px;
}

#ss2 .vmobile-s2 {
  width: 100%;
  display: none;
}
#ss2 .vmobile-s2 .title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #1d214a;
  margin: 0 auto;
  padding-top: 20px;
}
#ss2 .vmobile-s2 .main-vid {
  width: 480px;
  height: 280px;
  background: url(../img/img-tt-vd.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px;
  margin: 30px auto;
}
#ss2 .vmobile-s2 .content,
#ss2 .vmobile-s2 .btn-more {
  margin: 20px auto;
  text-align: center;
}
#ss2 .vmobile-s2 .btn-more {
  width: 158px;
  height: 51px;

  background-color: rgba(171, 136, 67, 1);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#ss2 .vmobile-s2 .btn-more a {
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}
/* FUCTION--------------------------------------------------------- */
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.main-title .bg-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: rgb(12, 79, 224);
}
.main-title .sm-title {
  font-size: 16px;
  color: rgba(60, 72, 88, 1);
  font-weight: 500;
  line-height: 19.2px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.main-content .col-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.main-content .col-contents-left {
  align-items: flex-start;
}
.main-content .col-contents .active {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.main-content .col-contents .child-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main-content .col-contents:first-child .child-content {
  text-align: right;
}
.main-content .col-contents:last-child .child-content {
  text-align: left;
}

.main-content .col-contents .child-content .title-function {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: #3c4858;
  padding: 10px 0;
}
.main-content .col-contents .active .title-function {
  color: rgb(12, 79, 224);
}
.main-content .col-contents .child-content .content-function {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8492a6;
}
.main-content .col-video {
  padding: 0 40px 0 70px;
}
.main-content .col-contents .child-content .arrow {
  position: absolute;
  top: 32%;
  display: none;
}
.arrow-r {
  right: -11%;
}
.arrow-l {
  left: -11%;
  transform: rotate(180deg);
}
.col-video-2 {
  display: none;
}

/* MEEYTEAM WHY?----------------------------------------- */

#ss4 .main-content {
  margin-top: 30px;
  flex-wrap: wrap;
}
#ss4 .main-content .el {
  width: 33%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

#ss4 .main-content .el .col-content-el {
  margin-left: 20px;
  padding-right: 20px;
}

#ss4 .main-content .el .col-content-el .title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: linear-gradient(90deg, #293171 0.12%, #1d214a 99.23%);
}

#ss4 .main-content .el .col-content-el p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: linear-gradient(90deg, #293171 0.12%, #1d214a 99.23%);
}

/* FOOTER--------------------------------------------------------- */
footer {
  background: linear-gradient(90deg, #293171 0.12%, #1d214a 99.23%);
  height: 721px;
}
.main-download {
  width: 100%;
  height: 299px;
  position: relative;
  padding: 30px 0 30px 100px;
}
.main-download .container-dw {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-download .container-dw .title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}
.main-download .container-dw .main-dw {
  display: flex;
  flex-direction: row;
}
.main-download .container-dw .dw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 255px;
}
.main-download .container-dw .dw .btn-dw {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 19.5px;
  width: 100%;
  height: 40%;
}
.main-download .container-dw .dw .btn-dw a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #1d214a;
}

.main-download .container-dw .dw .btn-dw img {
  width: 41px;
  height: 31px;
}
.main-download .container-dw .dw .dw-app {
  width: 49%;
}
.main-download .container-dw .dw .dw-app:last-child {
  margin-left: 5px;
}
.main-download .container-dw-img {
  position: absolute;
  top: -40%;
  right: 40%;
}
.main-download .container-dw-img .i1 {
  position: absolute;
  top: 50px;
  left: 160px;
  z-index: 1;
}
.main-download .container-dw-img .i2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.main-footer {
  background: rgba(239, 242, 247, 1);
  width: 100%;
  height: 400px;
  padding: 100px 0 0 100px;
}

.main-footer .f-fter {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.main-footer .f-fter .logo-address {
  width: 30%;
  height: 100%;
}
.main-footer .f-fter .logo-address .logo-fter {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-footer .f-fter .logo-address .address,
.main-footer .f-fter .logo-address .email-phone {
  font-style: normal;
  font-weight: 500;
  color: #273879;
}
.main-footer .f-fter .logo-address .address {
  font-size: 16px;
  line-height: 24px;
  padding: 30px 0 30px 0;
}
.main-footer .f-fter .logo-address .email-phone {
  font-size: 14px;
  line-height: 22px;
}

.main-footer .f-fter .hyperlink {
  width: 10%;
  height: 100%;
  margin-top: 20px;
}
.main-footer .f-fter .hyperlink .title,
.main-footer .f-fter .social-media .title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #273879;
  padding-bottom: 30px;
}
.main-footer .f-fter .hyperlink .container-link ul li {
  list-style: none;
}
.main-footer .f-fter .hyperlink .container-link ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #273879;
}
.main-footer .f-fter .social-media {
  width: 30%;
  margin-top: 20px;
}

.copyright {
  height: 10%;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #273879;
}
.ft {
  width: 100%;
  height: 22px;
  background: linear-gradient(90deg, #293171 0.12%, #1d214a 99.23%);
}
